body {
  margin: 0;
  padding: 0;
  background-color: #d9dbd4;
}
.whatsapp {
  background: #009688;
  width: 100%;
  height: 100px;
  padding: 30px;
}
.whatsapp_main {
  width: 90%;
  background-color: white;
  height: 450px;
  margin: 0px auto 30px auto;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
}
.whatsapp_main_sidemenu {
  background-color: #eee;
  height: 100%;
  width: 100%;
}
.whatsapp_main_sidemenu_top .row .avatar {
  height: 70px;
  width: 70px;
}
.whatsapp_main_sidemenu_top .row .avatar img {
  height: 62px;
  width: 62px;
}
.whatsapp_main_sidemenu_middle {
  background-color: #f8f8f8;
  padding: 10px 16px;
}
.whatsapp_main_sidemenu_middle i.fa-search {
  position: absolute;
  left: 41px;
  transform: translate(0%, 100%);
  font-size: 12px;
  color: gray;
}
.whatsapp_main_sidemenu_middle input {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 5px 30px;
}
.whatsapp_main_sidemenu_middle input:focus {
  outline: none;
}
.whatsapp_main_sidemenu_bottom {
  background-color: #fff;
}
.whatsapp_main_sidemenu_bottom_chat {
  overflow-y: scroll;
}
.whatsapp_main_body {
  background-color: #f7f9fa;
  width: 100%;
  height: 100%;
  margin: 0 -15px;
  text-align: center;
}
.whatsapp_main_body_image {
  text-align: center;
}
.whatsapp_main_body_image img {
  padding-top: 50px;
}
.avatar {
  height: 49px;
  width: 49px;
}
@media only screen and (max-width: 800px) {
  .whatsapp_main_body {
    display: none;
 }
}
