@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #121212, #202020);
    /* background-image: var(--image-gradient), url(./Assets/home2.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain; */

}
