/* --------- */
/* Education */
/* --------- */
.education-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.education-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.education-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.education-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.education-heading {
  text-align: center;
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.card-img-top-education {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.btn-education {
  color: #000000 !important;
  background-color: #0cfbff !important;
  border-color: #0cfbff !important;
  transition: all 0.3s ease; /* Smooth transition for hover/focus effects */
}

.btn-education:hover {
  color: #ffffff !important; /* White text on hover */
  background-color: #00b8d4 !important; /* Darker cyan for hover */
  border-color: #00b8d4 !important; /* Darker border for hover */
  box-shadow: 0 4px 15px rgba(0, 184, 212, 0.4); /* Add a subtle shadow effect */
}

.btn-education:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px rgba(12, 251, 255, 0.5); /* Glow effect with cyan */
  background-color: #00a1b5 !important; /* Slightly darker cyan for focus */
  border-color: #00a1b5 !important;
}

.card-img-top {
  height: 400px; /* Set your desired fixed height */
  object-fit: cover; /* Ensures the aspect ratio is maintained without stretching */
  width: 100%; /* Makes sure it spans the full width of the card */
}
